<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="pluginSettings">
            <section name="Nomad.Plugin.CommandLinePlugin" type="Nomad.Commons.Configuration.ObjectSettingsHandler, Nomad.Commons" />
        </sectionGroup>
    </configSections>
    <pluginSettings>
        <Nomad.Plugin.CommandLinePlugin>
            <maxCommandLength value="4096" />
        </Nomad.Plugin.CommandLinePlugin>
    </pluginSettings>
</configuration>